/* custom */

body {
  padding-top: 70px;

}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",Arial,sans-serif;
}

.ci-status-img {
    height: 17px;
    vertical-align: text-top;
}

.knowledge {
    margin-top: 20px;
}